golang/cloud/aws/step-functions/stepfunction-to-lambda-with-1param/step_function
{
  "Comment": "A Hello World example of the Amazon States Language using Pass states",
  "StartAt": "Start an Athena query execution",
  "States": {
    "Start an Athena query execution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": "select  * from sampledb.elb_logs limit 10",
        "WorkGroup": "primary",
        "ResultConfiguration": {
          "OutputLocation": "s3://athena-bucket-muly/workgroup/"
        }
      },
      "Next": "Get query results"
    },
    "Get query results": {
      "Resource": "arn:aws:states:::athena:getQueryResults",
      "Parameters": {
        "QueryExecutionId.$": "$.QueryExecution.QueryExecutionId"
      },
      "Type": "Task",
      "ResultPath": "$.QueryExecution.QueryExecutionId",
      "Next": "Invoke Lambda function"
    },
    "Invoke Lambda function": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:851336187371:function:read-input",
        "Payload": {
          "OutputLocation.$": "$.QueryExecution.ResultConfiguration.OutputLocation"
        }
      },
      "End": true
    }
  }
}